
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;

}

html{
  
    background: url("../bg.jpg"); 
    
}

.search {

margin: 70px auto;
width: 700px;

}
.search h4{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size:  30px;
    padding: 10px;
  
}
.borderBottom {
    height: 3px;
    background-color: #e67e22;
    width: 80px;
    margin: 0 auto;  
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.search h2{
    font-size: 70px;
    text-align: center;
    margin-bottom: 40px;
}

.searchbox{
    width: 300px;
    margin: auto;
    position: relative;
    
}

.searchbox input,textarea{
    width: 300px;
}


textarea{
    height: 100px;
}

.Addbtn{

    width: 200px;
    height: 40px;
  
}

.strikeout{
    text-decoration: line-through;
}

.card{
    background-color:#e4ecf5;
    list-style: none;
    padding: 20px;
    border-radius: 13px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.card p, h3 {
    color: #555;
    text-align: left;
    overflow-wrap: break-word;
}

.card h3{
    font-size: 30px;
}

.btn{

    margin-top: 10px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    
}

.btn:hover{
    background-color: #54cc58;
    transition: background-color 0.2s;
}

.done{

    background-color: black;
}

.task-list{
    margin: 24px;
}

#animate
{
background-color: blanchedalmond;
transition: background-color 0.4s;
}
